<!-- This view is to create a new project dashboard -->
{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/projects" method="POST">
        <fieldset>
            <legend>Create New Project</legend>
            <label class="form-label">Project Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="Project Name"
                class="form-control"
                required
            >
            <label class="form-label">Project Members:</label>
            <input 
                type="text" 
                name="group" 
                placeholder="Enter groups members separated by a comma"
                class="form-control"
            >
            
        </fieldset>
        <input type="submit" value="Create New Project" class="btn btn-success">
    </form>
    <!-- <a href="/projects/{{ task.project.id }}/" class="btn btn-success">Go Back</a> -->
</div>
{% endblock %}