{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/projects" method="POST">
        <fieldset>
            <legend>Create New Project</legend>
            <label class="form-label">Project Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="Project Name"
                class="form-control"
            >
            <label class="form-label">Project Members:</label>
            <!-- <input 
                type="text" 
                name="group" 
                class="form-control"
            > -->
            
            <!-- {% for user in usersList %}
                <input type="checkbox" name="" id="">       
            {% endfor %} -->
        </fieldset>
        <input type="submit" value="Create New Project" class="btn btn-success">
    </form>
</div>
{% endblock %}