{% layout "layout.liquid" %}
{% block content %}
    <div id="welcome-div">
        <h1 id="welcome-msg">Welcome To Proma!</h1>
        <div id="auth-btns">
            <a href="/auth/signup" class="nav-link text-light signup-btn" id="signup">Sign Up</a>
            <a href="/auth/login" class="nav-link text-light signin-btn" id="signin">Sign In</a>
        </div>
    </div>
{% endblock %}